#history {
  background-color: #1cb1f9;
  
  .summary_box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -399px);
      z-index: 2;

      * {
          color: #fff;
      }
  }

  .swiper-container {
      width: 100vw;
      height: 100vh;

      .swiper-button-prev,
      .swiper-button-next {
          left: 50%;

          &:after {
              display: none;
          }
      }

      .swiper-button-prev {
          width: 43px;
          height: 70px;
          margin-left: -744px;
          @extend %sp;
          background-position: 0px -1040px;
      }

      .swiper-button-next {
          width: 43px;
          height: 70px;
          margin-left: 707px;
          @extend %sp;
          background-position: -644px -443px;
      }

      .swiper-pagination {
          bottom: 50%;
          transform: translateY(368px);
          white-space: nowrap;

          .swiper-pagination-bullet {
              position: relative;
              width: 11px;
              height: 11px;
              border-radius: 0;
              @extend %sp;
              background-color: transparent;
              background-position: -1125px -267px;
              opacity: 1;
              margin: 0 51px;
              vertical-align: middle;

              &:not(:last-child):after {
                  position: absolute;
                  top: 50%;
                  left: 100%;
                  height: 1px;
                  width: 104px;
                  background: #fff;
                  transform: translateY(-50%);
                  content: '';
              }

              .paginate_cont {
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-top: 11px;
                  font-size: 16px;
                  font-weight: 900;
                  color: #bee4ff;
                  transform: translateX(-50%);
                  white-space: nowrap;
              }


              &.swiper-pagination-bullet-active {
                  width: 29px;
                  height: 29px;
                  background-position: -904px -631px;

                  .paginate_cont {
                      margin-top: 1px;
                      font-size: 18px;
                      color: #fdff30 !important;
                  }

                  &:nth-child(3) {
                      background-position: -937px -631px;
                  }
              }
          }
      }

      .swiper-slide {
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          .cont_wrap {
              display: flex;
              position: relative;
              width: 1570px;
              height: 610px;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              transition: transform 400ms;

              &:hover {
                  cursor: default;
                  transform: scale(1.05);
              }

              img {
                  margin-top: 50px;
              }
          }


          &.slide1 {
              background: url('#{$imgPath}/history/bg_sl_1.png') no-repeat bottom left/21.289vw auto;
              background-color: #1cb1f9;

              @media screen and (max-width: 1920px) {
                  background-position: -90px 120%;
              }
          }

          &.slide2 {
              background: url('#{$imgPath}/history/bg_sl_2.png') no-repeat bottom left/23.203vw auto;
              background: url('#{$imgPath}/history/bg_sl_2.png') no-repeat bottom left/23.125vw auto;
              background-color: #1cb1f9;

              @media screen and (max-width: 1920px) {
                  background-size: 20vw auto;
                  background-position: -75px 120%;
              }
          }

          &.slide3 {
              background: url('#{$imgPath}/history/bg_sl_3.png') no-repeat bottom left/23.125vw auto;
              background-color: #ff887e;

              @media screen and (max-width: 1920px) {
                  background-size: 20vw auto;
                  background-position: -30px 110%;
              }
          }

          &.slide4 {
              background: url('#{$imgPath}/history/bg_sl_4.png') no-repeat bottom left/18.516vw auto;
              background-color: #1cb1f9;

              @media screen and (max-width: 1920px) {
                  background-position: -50px 110%;
              }                
          }

          &.slide5 {
              background: url('#{$imgPath}/history/bg_sl_5.png') no-repeat bottom left/20.938vw auto;
              background-color: #1cb1f9;

              img {
                  margin-top: 0;
                  margin-left: 70px;
              }
          }

          &.slide6 {
              background: url('#{$imgPath}/history/bg_sl_6.png') no-repeat bottom left;
              background-color: #1cb1f9;

              @media screen and (max-width: 1920px) {
                  background-position: 0 120%;
              }

              img {
                  margin-top: 80px;
                  margin-left: -50px;
              }
          }

          &.slide7 {
              background: url('#{$imgPath}/history/bg_sl_7.png') no-repeat bottom left/18.125vw auto;
              background-color: #1cb1f9;

              @media screen and (max-width: 1920px) {
                  background-position: -60px 110%;
              }
          }

          &.slide8 {
              background: url('#{$imgPath}/history/bg_sl_8.png') no-repeat bottom left/15.703vw auto;
              background-color: #1cb1f9;

              img {
                  margin-top: 110px;
                  margin-left: 110px;
              }
          }

          &.slide9 {
              background: url('#{$imgPath}/history/bg_sl_9.png') no-repeat bottom left/15.469vw auto;
              background-color: #1cb1f9;

              img {
                  margin-top: 90px;
              }
          }

          &.slide10 {
              background: url('#{$imgPath}/history/bg_sl_10.png') no-repeat bottom left/16.758vw auto;
              background-color: #1cb1f9;

              img {
                  margin-top: -30px;
                  margin-left: 10px;
              }
          }

          &.slide11 {
              background: url('#{$imgPath}/history/bg_sl_11.png') no-repeat bottom left/18.438vw auto;
              background-color: #1cb1f9;

              img {
                  margin-top: -50px;
                  margin-left: -60px;
              }
          }

          &.slide12 {
              background: url('#{$imgPath}/history/bg_sl_12.png') no-repeat bottom left/33.047vw auto;
              background-color: #1cb1f9;

              @media screen and (max-width: 1920px) {
                  background-size: 23vw auto;
                  background-position: 0 105%;
              }
          }
      }
  }

  &.bg_red {
      .swiper-container .swiper-pagination .swiper-pagination-bullet .paginate_cont {
          color: #fff;
      }
  }
}
