.ico_link {
  width: 31px;
  height: 31px;
  @extend %sp;
  background-position: -835px -631px;
}

.ico_email {
  width: 30px;
  height: 30px;
  @extend %sp;
  background-position: -870px -631px;
}

.ico_group {
  width: 37px;
  height: 37px;
  @extend %sp;
  background-position: -668px -631px;
}

.ico_spot_play {
  width: 112px;
  height: 112px;
  @extend %sp;
  background-position: -865px -188px;
}

.ico_spot_play_triangle {
  width: 28px;
  height: 28px;
  @extend %sp;
  background-position: -1002px -631px;
}

.ico_spot_close {
  width: 69px;
  height: 72px;
  @extend %sp;
  background-position: -1050px -399px;
}

.ico_gnb_menu {
  width: 168px;
  height: 172px;
  @extend %sp;
  background-position: -693px -188px;
}

.ico_gnb_menu_line.line1 {
  width: 28px;
  height: 6px;
  @extend %sp;
  background-position: -1097px -961px;
}

.ico_gnb_menu_line.line2 {
  width: 28px;
  height: 6px;
  @extend %sp;
  background-position: -1102px -1029px;
}

.ico_gnb_menu_line.line3 {
  width: 28px;
  height: 7px;
  @extend %sp;
  background-position: -1100px -746px;
}

.ico_gnb_close {
  width: 36px;
  height: 36px;
  @extend %sp;
  background-position: -751px -631px;
}

.ico_social_youtube {
  width: 46px;
  height: 32px;
  @extend %sp;
  background-position: -981px -262px;
}

.ico_social_facebook {
  width: 32px;
  height: 32px;
  @extend %sp;
  background-position: -1107px -763px;
}

.ico_social_bahamut {
  width: 40px;
  height: 32px;
  @extend %sp;
  background-position: -791px -631px;
}

.ico_social_line {
  width: 38px;
  height: 36px;
  @extend %sp;
  background-position: -709px -631px;
}

.ico_search {
  @extend %sp;
  width: 28px;
  height: 29px;
  background-position: -970px -631px;
}

.ico_card_hold {
  width: 35px;
  height: 38px;
  @extend %sp;
  background-position: -832px -968px;
}

.ico_stars {
  width: 43px;
  height: 43px;
  @extend %sp;
  background-position: -645px -537px;
}

.ico_add_fr {
  width: 71px;
  height: 71px;
  @extend %sp;
  background-position: -1050px -98px;
}

.ico_lvl_80 {
  width: 71px;
  height: 71px;
  @extend %sp;
  background-position: -1050px -248px;
}

.ico_cup {
  width: 71px;
  height: 71px;
  @extend %sp;
  background-position: -1050px -173px;
}