// local path
// $imgPath: '../img';

// CDN path
$imgPath: 'https://patch.sealm.com.tw/web/official/img/pc';

$notoSans: 'Noto Sans TC', 'Noto Sans', '본고딕', sans-serif;

$black: #000;
$white: #fff;
$highlights: #43bde8;